# Env files
.env
*.env

# Build files
*.pyc
__pycache__/
*.egg-info/
dist/
build/

# Secrets
*.key
*.pem
video-editor-434002-*.json

# IDE
.idea/
.vscode/
.DS_Store

# Project specific
output/
*.mp4
*.mp3
edited_video*

# Kubernetes secrets
k8s/secrets.yaml
kubernetes/secrets.yaml
