# Secrets and environment
.env
*.key
video-editor-434002-*.json
Dockerfile
k8s/deployment.yaml
kubernetes/service.yaml

# Python
__pycache__/
venv/
*.pyc

# Output files
output/
*.mp4

# IDE
.vscode/
.idea/
.DS_Store
